<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp5097CAF52967A6CF76C81E53F4DD535C" Guid="{26B1DA1F-F2E7-4E1C-AC2D-4FBCD70563A2}">
                <File Id="fil288D72DC7A0E11135BBE918AEA1D3A82" KeyPath="yes" Source="$(var.SourceFiles)\ffmpeg.exe" />
            </Component>
            <Component Id="cmpC041356E7733116B447E000B286690A5" Guid="{658ABB6B-F54E-4BF2-935B-88E4D7D73A31}">
                <File Id="fil789C73202AE7A3687016EDC2A0DF2CFA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails.exe" />
            </Component>
            <Directory Id="dir7E5337B0B0646D4E1CD359E8B4D21AB7" Name="LightTrails_Data">
                <Component Id="cmpE07762687ECC63326635C065B075C987" Guid="{92507FEB-3348-46E9-8A4B-3FFF415045EC}">
                    <File Id="fil2C6A5D15EC0C49CC132D27A15B1B5EB5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\app.info" />
                </Component>
                <Component Id="cmp24E82EC0B9AB914BCCEE0434872FB06D" Guid="{742537A5-DF84-4BAB-84AF-C282CC11F019}">
                    <File Id="fil3D6DC0D568D69F5AD87F2326BEC75797" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers" />
                </Component>
                <Component Id="cmp193065B2C32E5374A02A86F4E51FDBC7" Guid="{3489971E-C218-4D14-AEDD-E764E658A36B}">
                    <File Id="filE2177208029B1806930BCFE0ABF55241" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers.assets" />
                </Component>
                <Component Id="cmp0F1D4278A3CCA4AEEC2938175F9F4DAF" Guid="{1247FE02-006C-4361-B2FE-909A12C6E6EE}">
                    <File Id="fil3F3052CB097565D63336993244ABCB11" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\globalgamemanagers.assets.resS" />
                </Component>
                <Component Id="cmp917EABC5CB2220DA0113A85C552F43DB" Guid="{56B542DD-FCA8-46A5-9507-76C0FD83A880}">
                    <File Id="fil5D59830436050DCE1C0805FD373D105E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\level0" />
                </Component>
                <Component Id="cmp35C7165FC85BA58C3E6E925F9A573DBE" Guid="{1EB4CFD3-C2D7-4299-9B28-D46CB0683C07}">
                    <File Id="filAC8FB945927F95F7D30037CB0A0FFFBA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\level1" />
                </Component>
                <Component Id="cmpAE5C8C51A26CDF4BF525B8CC807376F7" Guid="{EF04E448-E710-49BC-BEC7-0E98EF0F678D}">
                    <File Id="fil201D2B1F96AEB260EE7146ADDB02854A" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\resources.assets" />
                </Component>
                <Component Id="cmpCC922C606C7A68501AFDCDF9F26A87C6" Guid="{C1AE6C90-8962-4CE2-9C9F-8C9B86F682B4}">
                    <File Id="fil84A8B077B83946197E94F37933D18049" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\resources.assets.resS" />
                </Component>
                <Component Id="cmp8682CA24EA707536525DC312E7C96083" Guid="{752C1B84-E3AE-4BC7-81E6-B8CDE2E37032}">
                    <File Id="fil284E15E17C5D0FB096BCB89B361F8AED" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets0.assets" />
                </Component>
                <Component Id="cmp0001F92388F57ACA66203F7837E3D25F" Guid="{2745C7A0-3A54-4BE1-9913-AEBCF267DB9D}">
                    <File Id="fil12BF3932ED5CE110D713AB06EF858F28" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets0.assets.resS" />
                </Component>
                <Component Id="cmp34853A7DC70F404D5E39F67E63E80D8C" Guid="{D54BDEC7-A07E-4061-8E31-5F751C0DCEAA}">
                    <File Id="fil5E298073E65F0BE3F8B52AE0871698A6" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets1.assets" />
                </Component>
                <Component Id="cmpAD6566B0D35F66096EAC2FDC0A47BE35" Guid="{36EC6590-6E45-45E5-A266-0F973F001DB7}">
                    <File Id="fil427EDD705007F04334C0F4E1ACD4175F" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\sharedassets1.assets.resS" />
                </Component>
                <Directory Id="dirED1CC0B39437BEB3CC679B4E38BA794D" Name="Managed">
                    <Component Id="cmp97102BCE17ECC868E9526CA297E0C96C" Guid="{1AAA4F54-25EC-4CEC-B268-ABDCA77206CE}">
                        <File Id="filB4F4961384323A7D7A4D5C0193BD494C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Accessibility.dll" />
                    </Component>
                    <Component Id="cmp710B9F80567B9D2C3502281F2DAE9A43" Guid="{DFDF255D-0BDC-4ACB-8CF4-03DB2AF174E3}">
                        <File Id="filD6AD991E6E698FFA6654AB93E63DCAA3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Assembly-CSharp.dll" />
                    </Component>
                    <Component Id="cmpDF6AE2130F67277ACF2467887A5696FB" Guid="{8F4C70B4-A0AE-458E-83E7-751D0CE187DC}">
                        <File Id="filE23645C6FDD7064D0810C6C357EBE89D" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\FfmpegWrapper.dll" />
                    </Component>
                    <Component Id="cmpE41CC336A750A0F6EF24CD36A117953E" Guid="{F3FEF661-FFCB-4144-8CDD-F11F6F0B98C9}">
                        <File Id="fil6A174E837128CD09939FF18A2F6CD499" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Data.Sqlite.dll" />
                    </Component>
                    <Component Id="cmpFD19516FF3D89EE1C205B095E9055D57" Guid="{42E7D8B2-07A1-4DCB-8251-23955BC835CF}">
                        <File Id="filE9E64A303790EFCADB09ABCCF461A8A6" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Data.Tds.dll" />
                    </Component>
                    <Component Id="cmpC801B80953969427D183BD6E6AEA793B" Guid="{8A1821FA-D9DB-43E9-9E84-492B7B7FC5EB}">
                        <File Id="filAC095FC8AD6343A6A484A03A52994F49" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Posix.dll" />
                    </Component>
                    <Component Id="cmpAB41BED110AC26CA0665783672E70397" Guid="{EC531B32-E5B2-45E8-AB7D-788FE153DC6B}">
                        <File Id="fil77425A0700C9C23F26250AB847BEBF5B" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Security.dll" />
                    </Component>
                    <Component Id="cmp698645B8FA56C4184DF67679CA453D50" Guid="{81596DC4-4BA5-465E-9BAA-72375284C248}">
                        <File Id="filDA5F2F4ADB69BB898D4C48FC6C639892" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.Web.dll" />
                    </Component>
                    <Component Id="cmp9B8F1727F061ADCD8BD0393E5AC7B7EA" Guid="{9E293C6E-E1DF-46BB-A32E-B40C0D7E2301}">
                        <File Id="filBDF35DE8BABDE3F58CEDF79C5C8CC8C4" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Mono.WebBrowser.dll" />
                    </Component>
                    <Component Id="cmpF8F9EFFA2CC012D0EBCE2EB680677FFB" Guid="{DF1AA362-88DB-4F6A-81CB-BE28D0FC2486}">
                        <File Id="fil3E3C5BDDA12A27AAEAE177BEDD1DFC28" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\mscorlib.dll" />
                    </Component>
                    <Component Id="cmp41821C42C299E1E79F49780816EE2C26" Guid="{2E6B5459-B767-4CF6-A0BE-BD757125F7D2}">
                        <File Id="fil86693AA7243572EE16DD3FC0E97CB798" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\Ookii.Dialogs.dll" />
                    </Component>
                    <Component Id="cmpE1B4756F4F6E67EBDA5B13EFE445F321" Guid="{7EFE438B-4584-4749-AA92-8A4955F99577}">
                        <File Id="fil4BD2344AF5A46C45F33D671CAB523566" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Configuration.dll" />
                    </Component>
                    <Component Id="cmp3CFF931D5AB4D7EC6FAEACE5067D74F6" Guid="{E778CAF9-4D7F-4141-A036-6E45FA633515}">
                        <File Id="filC4AA73532194C84D5529F8F890D33290" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Core.dll" />
                    </Component>
                    <Component Id="cmpEEC9466FCF12E121A23332A4AF43DA3E" Guid="{09F62F49-940E-4603-A593-F19BC63F1F0F}">
                        <File Id="filD49AE36C3EBF11FB6A40799C8B9A1B9E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Data.dll" />
                    </Component>
                    <Component Id="cmpF1F65B42E68EDF2B81175A9BD62124BA" Guid="{88D80759-D4EF-4408-9AD7-A3E5F17AE21B}">
                        <File Id="fil2AFC0342ADC12679D8DCD781788E1C37" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Design.dll" />
                    </Component>
                    <Component Id="cmpD17EBCF30291FE6CC71691F1C3D046B6" Guid="{7B51DEDB-6CDA-4E48-A882-7A92E56FFFEC}">
                        <File Id="filEF895E4446D3346B22D01825B8C32C4C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.dll" />
                    </Component>
                    <Component Id="cmpD22D068F3D809E451E7A6F7FDAED424C" Guid="{5154CD80-3024-43B3-A942-96EC55FAB4FC}">
                        <File Id="fil5A303681728FB3C602E63686BF0176A1" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Drawing.Design.dll" />
                    </Component>
                    <Component Id="cmp79E0992CDCFAB11778FDFB9279039861" Guid="{531E8049-81A6-415B-950B-2F259939FA4A}">
                        <File Id="fil2681380CA25AB4084E10A6EEF52CE8A3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Drawing.dll" />
                    </Component>
                    <Component Id="cmpEDE34D79F4E33B75BEAAA87555A34C31" Guid="{C61D1999-9DE6-4BEB-ADFF-ACC9AC60CB0D}">
                        <File Id="fil5418FB97D1BFCCA54E782A7B8F2B11C0" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.EnterpriseServices.dll" />
                    </Component>
                    <Component Id="cmp74DA07A4449F4619430F8F93D3AE402C" Guid="{3463CE3E-3E2B-4F5B-9A9F-75C2A5D785DF}">
                        <File Id="fil0C0889492BA0E1CD1A01D5EE8606D6FC" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Security.dll" />
                    </Component>
                    <Component Id="cmpB950329F08D769C26275D6D5D6DBA1ED" Guid="{DFC3CBC8-9702-435E-84BB-28F652C84C8D}">
                        <File Id="filE1C1AB6B8F68115AA103BEC30E59B347" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Transactions.dll" />
                    </Component>
                    <Component Id="cmp2143AD3BE88D3FBEB4BD5CFF89D5B479" Guid="{74BF8428-7DEB-41C7-8900-5385DC3EA2BD}">
                        <File Id="fil8DC2A733533EC24BE84BF395D8B8572C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Web.dll" />
                    </Component>
                    <Component Id="cmp82486F086ED7F917910CAACA5DB07432" Guid="{8E764FEB-5D42-45EE-9AA7-83A6B5DEA38D}">
                        <File Id="filD216AECC932832AA6B4DCF8D8D9F4E1A" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Web.Services.dll" />
                    </Component>
                    <Component Id="cmpFBEB058E66F852A457EAEB44C810F06F" Guid="{E0C2305D-CBF6-4CED-8E7F-788E5742E553}">
                        <File Id="filC06F5CDC6DC86CA4163D7825F3694DC3" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Windows.Forms.dll" />
                    </Component>
                    <Component Id="cmpA555724FA3858021C378811CB37AF725" Guid="{6B4C0A8C-27F3-45AF-A978-1F4AEDDD261D}">
                        <File Id="fil2094EA24F144A98F5F5AA2B5E088809E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\System.Xml.dll" />
                    </Component>
                    <Component Id="cmpECE759487241177F0D67711C484B07EA" Guid="{09D3EB3D-F82A-40CE-9B47-FFC31E6C6276}">
                        <File Id="fil4FC4D86F40BCF0E4A3C75A508DE8F136" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.CloudBuild.dll" />
                    </Component>
                    <Component Id="cmp1AB1FB6493ED0F535177AED1283CE3E2" Guid="{C94AE29B-A50D-45F5-9A7C-D6E203C49AD9}">
                        <File Id="filC037463E572C9950BE4C3F2E8646893C" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.dll" />
                    </Component>
                    <Component Id="cmpC57EBDD4A08C35DBDE0C78EE318A3A72" Guid="{AB4A3D7E-D3AC-483E-9F4C-76FA1ECC728E}">
                        <File Id="filBB5FB5B79BB2C3E222B1417084AB704E" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.dll.mdb" />
                    </Component>
                    <Component Id="cmp79445CA877A4686CF521E6C9A7ADE282" Guid="{D3E46EB3-BBFE-4B76-82F8-B57BCCDE1EDF}">
                        <File Id="fil7FBB7BFD015693E21C39AC857B4921D2" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.Networking.dll" />
                    </Component>
                    <Component Id="cmp508E2CA69F231AB646DDCCFF034F9708" Guid="{C79323AF-FBD0-4C9B-A61B-B1933FB7C450}">
                        <File Id="filE81F44402F96D9A569FA1562FF22ADA4" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Managed\UnityEngine.UI.dll" />
                    </Component>
                </Directory>
                <Directory Id="dir3D52A76F74875CA2D92E31C4E2755DC0" Name="Mono">
                    <Component Id="cmp01C3C016286A8B8B84162263454FA753" Guid="{E79C1625-DAB3-4274-A9FE-1B818CD3115C}">
                        <File Id="filB7FB60D3F3A7849ED1EFA819F2AB533D" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\mono.dll" />
                    </Component>
                    <Component Id="cmpFED6A510FC0360510958149C10F81E7C" Guid="{866F34BD-5E10-4B23-AE3E-82EB12CA53CC}">
                        <File Id="fil9BB5F07E060633B600BB74D0911FFE58" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\MonoPosixHelper.dll" />
                    </Component>
                    <Directory Id="dirA223DCCFC7B855DF344699B4922B29C2" Name="etc">
                        <Directory Id="dir076129B291D4DA088F0630709B85C255" Name="mono">
                            <Component Id="cmp1E875CE54AEE4B1C5E173CCFDB407BBF" Guid="{6124A962-5E15-4C15-9CF8-3F10E53EB2A5}">
                                <File Id="fil79970A800BA272919DEBC5AC70553A45" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\browscap.ini" />
                            </Component>
                            <Component Id="cmp2E23F26A0E8850884813006EB18D2564" Guid="{5E988864-2F13-4FFA-819A-CC64C0DB08F2}">
                                <File Id="fil7BB26A07E26D4B48DA76A47FDA671641" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\config" />
                            </Component>
                            <Directory Id="dirB298DB8A305E74BFCBE18017D60B9236" Name="1.0">
                                <Component Id="cmpC119403997588B92D67E85BB67282C1B" Guid="{38EE899C-0D21-4544-A52E-480938A3D41F}">
                                    <File Id="fil0EA59A84A0201156CADA80B58245A9B5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\1.0\DefaultWsdlHelpGenerator.aspx" />
                                </Component>
                                <Component Id="cmpBB476F5F4A02F33CD21F756D50C24150" Guid="{FF11866C-2BA6-4D60-9D16-19BC0F7A885B}">
                                    <File Id="filA319767DC1008E75273B829A4F3DB753" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\1.0\machine.config" />
                                </Component>
                            </Directory>
                            <Directory Id="dirB4BB6D72B821F5B13F68FC3B35B265F7" Name="2.0">
                                <Component Id="cmpCC2DD97A4DCAE05BEB56AC615CB4575D" Guid="{5707B59C-7893-499C-BDFC-A17942D95C68}">
                                    <File Id="filE202054627E9E448CA0B768ADE5C7956" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\DefaultWsdlHelpGenerator.aspx" />
                                </Component>
                                <Component Id="cmpFA59A4E9775B417688E5451F8E3F96D4" Guid="{3AB9098C-6F1F-4C0C-BB7B-6DC21510B741}">
                                    <File Id="filACF1327930EE47660B507EA9D62BD8E8" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\machine.config" />
                                </Component>
                                <Component Id="cmpF0ADBE4E39E934D55D2BEB202976B21C" Guid="{34F34630-EE58-46C1-90BC-1F0ABABE9816}">
                                    <File Id="fil648303452D0F7EE4320C193C25087DD5" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\settings.map" />
                                </Component>
                                <Component Id="cmp919303CA16E0C6EEB05E6A56B75561D0" Guid="{1B25BDBB-748E-41BD-A316-EC0BBE7C1F99}">
                                    <File Id="fil06CF94446EA83DDCBBA7DF4E3BA7E294" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\web.config" />
                                </Component>
                                <Directory Id="dir0AA8DD464CC96ACD2A544BFD08EA6F23" Name="Browsers">
                                    <Component Id="cmpFE71AEE4FC2836CCC78EBA24826AA81E" Guid="{3CE7CE06-B514-4A13-9770-D82444F1B467}">
                                        <File Id="fil1B8D8EFF3F4AAD91FBCA304E95BD50B9" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\2.0\Browsers\Compat.browser" />
                                    </Component>
                                </Directory>
                            </Directory>
                            <Directory Id="dirE42DDA93E645ABFAE665EDE525FDBD12" Name="mconfig">
                                <Component Id="cmpABE939B1D6BC21F21740233EA17E727A" Guid="{A779C0EC-CF42-4C39-A9E7-A6277DA9ED65}">
                                    <File Id="filBD65BC20AC2B63FF093E49642B4FE30B" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Mono\etc\mono\mconfig\config.xml" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir7AFE00B46274F3EA6DA21C852D83505E" Name="Resources">
                    <Component Id="cmp108A85D67AFA183B7381037FE62E1530" Guid="{098AAABA-B4ED-41ED-99B9-9D964C91033D}">
                        <File Id="fil2494A76CC101656CB43D58F3AF6165EA" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Resources\unity default resources" />
                    </Component>
                    <Component Id="cmpA44931B3E505A79D771E2C5A7DD4512A" Guid="{17319329-A73D-4AC1-9B5C-BA0D618A405C}">
                        <File Id="fil25E8876B1C6C3B2AA69CB12FEFC67F1F" KeyPath="yes" Source="$(var.SourceFiles)\LightTrails_Data\Resources\unity_builtin_extra" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DataHarvest">
            <ComponentRef Id="cmp5097CAF52967A6CF76C81E53F4DD535C" />
            <ComponentRef Id="cmpC041356E7733116B447E000B286690A5" />
            <ComponentRef Id="cmpE07762687ECC63326635C065B075C987" />
            <ComponentRef Id="cmp24E82EC0B9AB914BCCEE0434872FB06D" />
            <ComponentRef Id="cmp193065B2C32E5374A02A86F4E51FDBC7" />
            <ComponentRef Id="cmp0F1D4278A3CCA4AEEC2938175F9F4DAF" />
            <ComponentRef Id="cmp917EABC5CB2220DA0113A85C552F43DB" />
            <ComponentRef Id="cmp35C7165FC85BA58C3E6E925F9A573DBE" />
            <ComponentRef Id="cmpAE5C8C51A26CDF4BF525B8CC807376F7" />
            <ComponentRef Id="cmpCC922C606C7A68501AFDCDF9F26A87C6" />
            <ComponentRef Id="cmp8682CA24EA707536525DC312E7C96083" />
            <ComponentRef Id="cmp0001F92388F57ACA66203F7837E3D25F" />
            <ComponentRef Id="cmp34853A7DC70F404D5E39F67E63E80D8C" />
            <ComponentRef Id="cmpAD6566B0D35F66096EAC2FDC0A47BE35" />
            <ComponentRef Id="cmp97102BCE17ECC868E9526CA297E0C96C" />
            <ComponentRef Id="cmp710B9F80567B9D2C3502281F2DAE9A43" />
            <ComponentRef Id="cmpDF6AE2130F67277ACF2467887A5696FB" />
            <ComponentRef Id="cmpE41CC336A750A0F6EF24CD36A117953E" />
            <ComponentRef Id="cmpFD19516FF3D89EE1C205B095E9055D57" />
            <ComponentRef Id="cmpC801B80953969427D183BD6E6AEA793B" />
            <ComponentRef Id="cmpAB41BED110AC26CA0665783672E70397" />
            <ComponentRef Id="cmp698645B8FA56C4184DF67679CA453D50" />
            <ComponentRef Id="cmp9B8F1727F061ADCD8BD0393E5AC7B7EA" />
            <ComponentRef Id="cmpF8F9EFFA2CC012D0EBCE2EB680677FFB" />
            <ComponentRef Id="cmp41821C42C299E1E79F49780816EE2C26" />
            <ComponentRef Id="cmpE1B4756F4F6E67EBDA5B13EFE445F321" />
            <ComponentRef Id="cmp3CFF931D5AB4D7EC6FAEACE5067D74F6" />
            <ComponentRef Id="cmpEEC9466FCF12E121A23332A4AF43DA3E" />
            <ComponentRef Id="cmpF1F65B42E68EDF2B81175A9BD62124BA" />
            <ComponentRef Id="cmpD17EBCF30291FE6CC71691F1C3D046B6" />
            <ComponentRef Id="cmpD22D068F3D809E451E7A6F7FDAED424C" />
            <ComponentRef Id="cmp79E0992CDCFAB11778FDFB9279039861" />
            <ComponentRef Id="cmpEDE34D79F4E33B75BEAAA87555A34C31" />
            <ComponentRef Id="cmp74DA07A4449F4619430F8F93D3AE402C" />
            <ComponentRef Id="cmpB950329F08D769C26275D6D5D6DBA1ED" />
            <ComponentRef Id="cmp2143AD3BE88D3FBEB4BD5CFF89D5B479" />
            <ComponentRef Id="cmp82486F086ED7F917910CAACA5DB07432" />
            <ComponentRef Id="cmpFBEB058E66F852A457EAEB44C810F06F" />
            <ComponentRef Id="cmpA555724FA3858021C378811CB37AF725" />
            <ComponentRef Id="cmpECE759487241177F0D67711C484B07EA" />
            <ComponentRef Id="cmp1AB1FB6493ED0F535177AED1283CE3E2" />
            <ComponentRef Id="cmpC57EBDD4A08C35DBDE0C78EE318A3A72" />
            <ComponentRef Id="cmp79445CA877A4686CF521E6C9A7ADE282" />
            <ComponentRef Id="cmp508E2CA69F231AB646DDCCFF034F9708" />
            <ComponentRef Id="cmp01C3C016286A8B8B84162263454FA753" />
            <ComponentRef Id="cmpFED6A510FC0360510958149C10F81E7C" />
            <ComponentRef Id="cmp1E875CE54AEE4B1C5E173CCFDB407BBF" />
            <ComponentRef Id="cmp2E23F26A0E8850884813006EB18D2564" />
            <ComponentRef Id="cmpC119403997588B92D67E85BB67282C1B" />
            <ComponentRef Id="cmpBB476F5F4A02F33CD21F756D50C24150" />
            <ComponentRef Id="cmpCC2DD97A4DCAE05BEB56AC615CB4575D" />
            <ComponentRef Id="cmpFA59A4E9775B417688E5451F8E3F96D4" />
            <ComponentRef Id="cmpF0ADBE4E39E934D55D2BEB202976B21C" />
            <ComponentRef Id="cmp919303CA16E0C6EEB05E6A56B75561D0" />
            <ComponentRef Id="cmpFE71AEE4FC2836CCC78EBA24826AA81E" />
            <ComponentRef Id="cmpABE939B1D6BC21F21740233EA17E727A" />
            <ComponentRef Id="cmp108A85D67AFA183B7381037FE62E1530" />
            <ComponentRef Id="cmpA44931B3E505A79D771E2C5A7DD4512A" />
        </ComponentGroup>
    </Fragment>
</Wix>